@model SecretaryViewModel

@{
    ViewData["Title"] = "Secretary";
}

@section Styles {
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='/lib/fullcalendar/core/main.css' rel='stylesheet' />
    <link href='/lib/fullcalendar/daygrid/main.css' rel='stylesheet' />
    <link href="~/lib/fullcalendar/timegrid/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/list/main.css" rel="stylesheet" />
    <link href="~/lib/fullcalendar/bootstrap/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
}


<!-- Modal -->
<div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment Add/Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input hidden id="appointmentId" />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Start Date : </label>

                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input id="inputStartDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">End Date : </label>

                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input id="inputEndDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Patient Name : </label>
                            <input id="inputPatientName" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Patient Surname : </label>
                            <input id="inputPatientSurname" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Description : </label>
                            <input id="inputDescription" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Dentist/Doctor : </label>
                            <select id="inputDentistId" class="form-control" asp-items="@Model.DentistsSelectList">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Patient Phone : </label>
                            <input id="inputPatientPhone" type="text" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnSave" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appointment Add/Update</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Start Date : </label>

                            <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                <input disabled id="inputStartDateDetail" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1" />
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">End Date : </label>

                            <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                                <input disabled id="inputEndDateDetail" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2" />
                                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Patient Name : </label>
                            <input disabled id="inputPatientNameDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Patient Surname : </label>
                            <input disabled id="inputPatientSurnameDetail" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Description : </label>
                            <input disabled id="inputDescriptionDetail" type="text" class="form-control" />
                        </div>
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Dentist/Doctor : </label>
                            <select disabled id="inputDentistIdDetail" class="form-control" asp-items="@Model.DentistsSelectList">
                                <option value="0">Select</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="form-control-label">Patient Phone : </label>
                            <input disabled id="inputPatientPhoneDetailed" type="text" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDelete" class="btn btn-secondary" data-dismiss="modal">Delete</button>
                <button type="button" id="btnUpdate" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Dentist System</h5>
                <h6 class="card-subtitle mb-2 text-muted">@Model.User.Name @Model.User.Surname</h6>
                <p class="card-text">Welcome to Appointment System</p>
                <a href="/Account/Logout" class="card-link">Logout</a>
            </div>
        </div>
        <br />
        <ul class="list-group">
            @foreach (var item in Model.Dentists)
            {
                <li class="list-group-item">@item.Name @item.Surname<button class="btn btn-sm mt-2 pull-right" style="background-color:@item.Color"></button></li>
            }

        </ul>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <div id="calendar">

                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.26.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data-10-year-range.min.js"></script>

    <script src='~/lib/fullcalendar/core/main.js'></script>
    <script src='~/lib/fullcalendar/moment/main.js'></script>
    <script src='~/lib/fullcalendar/moment-timezone/main.js'></script>
    <script src="/lib/fullcalendar/daygrid/main.js"></script>
    <script src="~/lib/fullcalendar/timegrid/main.js"></script>
    <script src="~/lib/fullcalendar/list/main.js"></script>
    <script src="~/lib/fullcalendar/interaction/main.js"></script>
    <script src="~/lib/fullcalendar/bootstrap/main.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var selectedEvent = null;
            var events = [];
            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid', 'list', 'bootstrap', 'momentTimezone'],
                timeZone: 'Europe/Istanbul',
                themeSystem: 'bootstrap',
                bootstrapFontAwesome: {
                    dayGridMonth: 'calendar',
                    prev: 'fa-chevron-circle-left',
                    next: 'fa-chevron-circle-right',
                    listWeek: 'fa-list'
                },

                header: {
                    left: 'prev, next, today',
                    center: 'title',
                    right: 'dayGridMonth, timeGridWeek, timeGridForFourDay, listWeek'

                },
                footer: {
                    left: 'prevYear',
                    right: 'nextYear'
                },

                minTime: '08:00:00',
                maxTime: '21:00:00',

                slotLabelFormat: {
                    hour: '2-digit',
                    minute: '2-digit',

                },
                fixedWeekCount: true,
                showNonCurrentDates: false,

                contentHeight: 650,

                defaultView: 'dayGridMonth',
                weekends: true,
                hiddenDays: [0],
                allDaySlot: false,

                titleFormat: {
                    year: 'numeric',
                    month: 'long',
                    day: 'numeric'
                },
                titleRangeSeparator: ' / ',
                columnHeaderFormat: {

                    weekday: 'long'

                },
                views: {
                    timeGridForFourDay: {
                        type: 'timeGrid',

                        duration: { days: 4 },
                        buttonText: '4 Day'
                    }
                },

                eventTimeFormat: {
                    hour: '2-digit',
                    minute: '2-digit'

                },
                snapDuration: '00:15:00',

                events: [],

                selectable: true,
                droppable: true,
                select: function (selectionInfo) {

                    selectedEvent = {
                        id: 0,

                        start: moment(selectionInfo.start),
                        end: moment(selectionInfo.end),
                        phone: "",
                        patientName: "",
                        patientSurname: "",
                        description: "",
                        dentistId: 0
                    }

                    openAddorUpdateModal();
                },
                eventClick: function (info) {
                    selectedEvent = {
                        id: info.event.id,
                        start: moment(info.event.start),
                        end: moment(info.event.end),
                        patientName: info.event.extendedProps.patientName,
                        patientSurname: info.event.extendedProps.patientSurname,
                        description: info.event.extendedProps.description,
                        dentistId: info.event.extendedProps.userId
                    };

                    $('#inputDentistIdDetail').val(info.event.extendedProps.userId);
                    $('#inputStartDateDetail').val(moment(info.event.start).format('DD/MM/YYYY HH:ss'));
                    $('#inputEndDateDetail').val(moment(info.event.end).format('DD/MM/YYYY HH:ss'))
                    $('#inputPatientNameDetail').val(info.event.extendedProps.patientName);
                    $('#inputPatientSurnameDetail').val(info.event.extendedProps.patientSurname);
                    $('#inputDescriptionDetail').val(info.event.extendedProps.description);

                    $('#detailModal').modal();

                },

                editable: true,



            });

            calendar.render();
            getAppointments();

            $('#datetimepicker1, #datetimepicker2').datetimepicker({
                format: 'DD/MM/YYYY HH:mm'
            });

            function getAppointments() {
                $.ajax({
                    type: 'GET',
                    url: '/Appointment/GetAppointments',

                    success: function (response) {

                        events = [];

                        var sources = calendar.getEventSources(); //clean calendar for avoiding multiple binding each time
                        for (var i = 0; i < sources.length; i++) {
                            sources[i].remove();
                        }

                        for (var i = 0; i < response.length; i++) {

                            events.push({
                                id: response[i].id,
                                title: response[i].dentist,
                                patientName: response[i].patientName,
                                patientSurname: response[i].patientSurname,
                                start: response[i].startDate,
                                end: response[i].endDate,
                                description: response[i].description,
                                color: response[i].color,
                                userId: response[i].userId
                            });
                        }
                        calendar.addEventSource(events);
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.danger("Error Occured");
                    }
                });
            }

            function openAddorUpdateModal() {
                if (selectedEvent != null) {
                    $('#inputStartDate').val(selectedEvent.start.format('DD/MM/YYYY HH:mm'));
                    $('#inputEndDate').val(selectedEvent.end.format('DD/MM/YYYY HH:mm'));
                    $('#inputPatientName').val(selectedEvent.patientName);
                    $('#inputPatientSurname').val(selectedEvent.patientSurname);
                    $('#inputDescription').val(selectedEvent.description);
                    $('#inputDentistId').val(selectedEvent.dentistId);
                    $('#inputPatientPhone').val(selectedEvent.phone);
                    $('#appointmentId').val(selectedEvent.id);
                }

                $('#saveModal').modal();  //open modal with jquery
            }

            function saveAppointment(data) {
                $.ajax({
                    type: 'POST',
                    url: '/Appointment/AddorUpdateAppointment',
                    data: data,
                    success: function (response) {
                        if (response === '200') {
                            getAppointments();
                            $('#saveModal').modal('hide');
                            alertify.success("Succesfully Added");
                        }
                        else {
                            $('#saveModal').modal('hide');
                            alertify.warning("Error Occured");
                        }
                    },
                    error: function () {
                        $('#saveModal').modal('hide');
                        alertify.danger("Error Occured");
                    }
                });
            }

            $('#btnSave').click(function () {
                if ($('#inputPatientName').val() === "") {
                    alertify.warning("Please Enter Patient Name");
                    return;
                }
                if ($('#inputPatientSurname').val() === "") {
                    alertify.warning("Please Enter Patient Surname");
                    return;
                }
                if ($('#inputDentistId').val() === "") {
                    alertify.warning("Please Choose Dentist/Doctor");
                    return;
                }
                var data = {
                    Id: $('#appointmentId').val(),
                    UserId: $('#inputDentistId').val(),
                    StartDate: $('#inputStartDate').val(),
                    EndDate: $('#inputEndDate').val(),
                    PatientName: $('#inputPatientName').val(),
                    PatientSurname: $('#inputPatientSurname').val(),
                    PatientPhoneNumber: $('#inputPatientPhone').val(),
                    Description: $('#inputDescription').val()
                }
                saveAppointment(data);
            });

            $('#btnUpdate').click(function () {
                $('#detailModal').modal('hide');
                openAddorUpdateModal();
            });

            $('#btnDelete').click(function () {
                if (confirm('Are you sure to delete?')) {
                    $.ajax({
                        type: 'GET',
                        url: '/Appointment/DeleteAppointment?id=' + selectedEvent.id,

                        success: function (response) {
                            if (response === '200') {
                                var event = calendar.getEventById(selectedEvent.id);
                                event.remove();
                                $('#detailModal').modal('hide');
                                alertify.success("Appointment deleted succesfully");
                            }

                        },
                        error: function () {
                            $('#detailModal').modal('hide');
                            alertify.error("Error Occured");
                        }
                    })
                };
            });

        });
       
    </script>
}